<div class="container-fluid mb-5">
    <div class="row">
        <div class="container pl-0">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%- url_for('assets/imgs/slides/slide1.jpg') %>" alt="openfourm">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>中科院开源论坛</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<%- url_for('assets/imgs/slides/slide2.jpg') %>" alt="sfd">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>2015年SFD(软件自由日)</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<%- url_for('assets/imgs/slides/slide3.jpg') %>" alt="apache">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>2015年Apache路演</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 col-sm-4">
            <div class="pb-2">
                <h4><i class="fas fa-comment-alt text-info"></i> <span>最新消息</span></h4>
            </div>
            <div>
                <%- partial('_partial/archive-min') %>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="pb-2">
                <h4><i class="fab fa-elementor text-success"></i> <span>最新活动</span></h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="pb-2">
                <h4><i class="fas fa-box-open text-primary"></i> <span>最新项目</span></h4>
            </div>
            <div>
                <%- partial('_partial/projects-min', {projects: site.projects}) %>
            </div>
        </div>
    </div>
</div>