<div class="col-md-12 margin-bottom-20">
  <h2><%- project.title %></a>
  <small>
  <% if (project.status.toLowerCase() === "open"){ %>
  <span class="label label-success">
  <% } else if (project.status.toLowerCase() === "closed"){ %>
  <span class="label label-danger">
  <% } else if (project.status.toLowerCase() === "finish"){ %>
  <span class="label label-info">
  <% } else { %>
  <span class="label label-warning">
  <% } %>
  <%- project.status %></span></small></h2>
  <hr>
  <div class="col-md-2 col-sm-2" style="padding: 0">
    <dl>
      <dt><h3>语言</h3></dt>
      <dd><%- project.language %></dd>
      <dt><h3>版本</h3></dt>
      <dd><%- project.version %></dd>
      <dt><h3>发起人</h3></dt>
      <dd><%- project.author %></dd>
      <dt><h3>启动日期</h3></dt>
      <dd><%- date(project.time, 'YYYY-MM-DD') %></dd>
    </dl>
  </div>
  <div class="col-md-10 col-sm-10">
    <dl>
      <dt><h3>介绍</h3></dt>
      <dd><%- project.content %></dd>
      <dt><h3>项目地址</h3></dt>
      <dd><a href="<%- project.url %>"><%- project.url %></a></dd>
      <dt><h3>Issues</h3></dt>
      <dd><a href="<%- project.issue %>"><%- project.issue %></a></dd>
    </dl>
  </div>
</div>
