<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<%- js('metronic/assets/plugins/respond.min.js') %>
<![endif]--> 
<%- js('metronic/assets/plugins/jquery.min.js') %>
<%- js('metronic/assets/plugins/jquery-migrate.min.js') %>
<%- js('metronic/assets/plugins/bootstrap/js/bootstrap.min.js') %>
<%- js('metronic/assets/corporate/scripts/back-to-top.js') %>
<%- js('metronic/assets/plugins/owl.carousel/owl.carousel.min.js') %>
<%- js('metronic/assets/corporate/scripts/layout.js') %>
<%- js('js/wow.min.js') %>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<script type="text/javascript">
    jQuery(document).ready(function() {
        Layout.init();    
        Layout.initOWL();
        //Layout.initTwitter();
        Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
        Layout.initNavScrolling(); 
	new WOW().init();
    });
</script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE-SPECIFIC PLUGINS --> 
<% if (page.layout == "mirrors"){ %>
  <script>
    $.getJSON("http://mirrors.opencas.org/state.json", function(res) {
      var str = "";
      for (item in res) {
        var cur = res[item][1];
        var name = res[item][0];
        var tooltip = '';
        if (cur.doc)
          tooltip += '<a href="' + cur.doc +
            '"><i  data-toggle="tooltip" title="点击查看使用文档" style="margin-left:8px;" class="glyphicon glyphicon-question-sign"></i></a>';
        if (cur.state == "syncing") {
          str += '<tr>\
                  <td><a href="' + cur.link + '">' + name + '</a>' + '<td>' + cur.up_time +'</td>\
                  <td><button class="btn btn-xs sync sync-info btn-info">Syncing</button></td><td><a href="' + cur.doc + '">Help</td>'
        } else {
          str += '<tr>\
                  <td><a href="' + cur.link + '">' + name + '</a>' + '<td>' + cur.up_time + '</td>\
              <td><button class="btn btn-xs sync sync-success btn-success">success</button></td><td><a href="' + cur.doc + '">Help</td>'
        }
        str += "</tr>";
      }
      $("#mirror_list").html(str);
    });
  </script>
<% } %>


<!-- END PAGE-SPECIFIC PLUGINS --> 

<!-- BEGIN INTEGRATIONS -->
<% if (theme.swiftype_install_key) { %>
    <script type="text/javascript">
        (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
            e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

        _st('install','<%= theme.swiftype_install_key %>','2.0.0');
    </script>
<% } %>
<%- partial('disqus') %>
<%- partial('google-analytics') %>
<!-- END INTEGRATIONS -->
